@media (min-width: 500px){
    *{
        font-size: 16px;
    }
    .skills-content{
        width: 90%;
    }
    .works-nav{
        justify-content: space-evenly;
    }
    .work-cards{
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .services-accordion{
        gap: 1.25rem;
        width: 90%;
    }
}



@media (min-width: 750px){
    .nav-container{
        top: 3rem;
        margin-left: 2rem;
        width: 4rem;
        justify-content: flex-start;
    }
    .nav{
        width: 3.5rem;
        padding: 1rem .75rem;
        align-items: center;
        
    }
    .nav-list{
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    
    .about-info{
        display: grid;
        width: 75%;
        margin: auto;
    }
    .skills-content{
        width: 85%;
        margin:0 auto;
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
        gap: 1rem;
    }
   
}

@media (min-width: 960px){
    .home-container{
        padding: 4rem 1.5rem 3rem;
    }
    .about-content{
        padding: 3rem 2rem 2rem 4rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .about-card{
        gap: .5rem;
        grid-template-columns: repeat(3, max-content);
    }
    .about-info{
        display: grid;
        width: 100%;
        margin: auto;
    }
    .sevices-content{
        grid-template-columns: repeat(2, 1fr);
        width: 94%;
    }
    .services-image{
        width: 80%;
    }
    .services-img{
        margin-left: 4rem;
    }
    .services-accordion{
        width: 83%;
    }
    .scroll-container{
        position: relative;
        left: 96%;
        margin-top: -7.5rem;
    }
    .works-content{
        width: 83%;
        margin: auto;
    }
    .work-cards{
        margin-top: 3rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .review-slider{
        width: 75%;
        margin: 3rem auto;
    }
    .contact-content{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 83%;
        margin: auto;
     }
     .center{
        margin-left: .365rem;
     }
     .form{
        width: 85%;
}
}