@media (min-width: 500px){
    *{
        font-size: 16px;
    }
    .hero-img{
        width: 12rem;
    }
    .hero-icons{
        margin-top: 1.35rem;
    }
    .about-content{
        padding: 3rem 2rem 2rem 4rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .about-card{
        gap: .25rem;
    }
}



@media (min-width: 750px){
    .nav-container{
        top: 3rem;
        margin-left: 2rem;
        width: 4rem;
        justify-content: flex-start;
    }
    .nav{
        width: 3.5rem;
        padding: 1.5rem 1rem;
        background: var(--bg-color-2);
        align-items: center;
        
    }
    .nav-list{
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    
    
}

@media (min-width: 960px){
    .home-container{
        padding: 4rem 1.5rem 3rem;
    }
    .hero-img-cont{
        width: 100%;
        height: 350px;
        justify-content: center;
        align-items: center;
    }
    .hero-icons{
        width: 25rem;
    }
    
    .social-links{
        margin: 3rem 0;
    }
}