@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kanit:wght@400;500;600;700;800;900&family=Lobster&family=Merriweather:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&display=swap');
:root{
    --bg-color-1:linear-gradient(to bottom, #010c24,#021953);
    --bg-color-2:linear-gradient(to right, #020b20,#021953);
    --bg-color-3:linear-gradient(to bottom, #020b1f,#021953);
    --body-color:#111b39;
    --skin-color:#192b5a;  
    --skin-color2:#405791;
    --white-color:#fff;
    --white-color-2:rgba(184, 182, 203, 0.75);
    --black-color:rgb(10, 3, 71);
    --black-color-2:#000;
    --white-color3: #d9d9d9;
    --circle-color: #fff;
    --skin-color4:rgb(255, 132, 0);
    --box-shadow:0 .25rem .75rem rgba(0, 0, 0, 0.448);

    --font-medium: 500;
    --font-semibold:600;
    --font-bold:800;

    --bdy-font-family: 'Poppins', sans-serif ;
    --bdy-font-family-alt: 'Kanit', sans-serif;
    --bdy-font-family-alt4: 'Merriweather', serif;
    --bdy-font-family-alt2: 'Space Grotesk', sans-serif;
    --bdy-font-family-alt3: 'nunito', sans-serif;
    --bdy-font-family-alt5: 'lobster', cursive;

    
    
    --font-size-bggr:3rem;
    --font-size-bg: 2.25rem;
    --font-size-m: 1.5rem;
    --font-size-nr: 1rem;
    --font-size-sm: .95em;
    --font-size-smlr: .85rem;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --header-height: 3.5rem;
 }

 body{
     font-size: var(--font-size-nr);
     font-family: var(--bdy-font-family);
     background:var(--bg-color-1) ;
     color: var(--white-color);
     transition: all .3s ease;
     text-transform: capitalize;
    
 }
 body.light{
    --bg-color-1:linear-gradient(to bottom, #536976, #757f9a);
    --bg-color-2:linear-gradient(to left, #536976, #2c3e50);
    --bg-color-3:linear-gradient(to bottom, #536976, #2c3e50);
    --body-color:#666e83;
    --skin-color:#97a5b4; 
    --skin-color2:#bcbec4;
    --white-color:rgb(14, 19, 55);
    --white-color-2:rgb(19, 23, 65);
    --black-color:#fff;
    --black-color-2:#fff;
    --white-color3: rgba(1, 4, 26, 0.903);
    --skin-color4:rgb(255, 132, 0);
    --box-shadow:0 .25rem .75rem rgba(0, 0, 0, 0.448);

 }
 *{
     margin: 0;
     padding: 0;
     text-decoration: none;
     box-sizing: border-box;
     font-size: 14px;
     outline: none;
     
 }
 ::before, ::after
 {
     box-sizing: border-box;
 }
html{
    scroll-behavior: smooth;
   
}

ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}

input,button{
  font-family: var(--bdy-font-family);
  outline: none;
  border: none;
}


/*-----scroll-bar------*/
::-webkit-scrollbar{
    width:.5rem;
    border-radius: .5rem;
    background-color:var(--body-color);
}
::-webkit-scrollbar-thumb{
    background-color:var(--skin-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--skin-color2);
}
/*-----*scroll-bar-----*/

/*-----Reuseable----*/
.section{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.main-container{
    width: 100%;
    height: 100%;
    background: var(--bg-color-1);
}
.container{
    max-width: 1040px;
    margin: auto;
    overflow-x: hidden;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}

.btn-container{
    width: 100%;
    padding: 1rem;
    grid-template-columns: repeat(2 , max-content);
    justify-items: center;
    justify-content: center;
    gap: 1rem;
}
.btn{
    padding: .75rem .5rem;
    max-width: 10rem;
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    font-weight: 500;
    text-align: center;
    border-radius: .75rem;
    text-transform: capitalize;
    font-family: var(--bdy-font-family-alt2);
}
.btn:hover{
    background: var(--white-color);
    color: var(--black-color);
}
.btn-alt{
    background: var(--skin-color);
   
}
.btn-alt:hover{
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}
.title{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-size: var(--h2-size); 
    text-transform: uppercase;
    font-weight: var(--font-bold);
    font-family: var(--bdy-font-family-alt2);
    text-align: center;
    margin-bottom: .5rem;
}
.section-subtitle{
    font-size: var(--h3-size); 
    text-transform: capitalize;
    font-weight: var(--font-semibold);
    font-family: var(--bdy-font-family);
    text-align: center;
    color: var(--white-color-2);
}
/*-----Reuseable----*/

/*-----nav----*/


.top{
    position: fixed;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 1rem;
    font-family: var(--bdy-font-family-alt2);
    z-index: 10;
    overflow-x: hidden;
}
.top h1{
    font-size: var(--h3-size);
}
.top i{
    font-size: var(--font-size-nr);
}

.nav-container{
    position: fixed;
    bottom: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow-x: hidden;
}
.nav{
    width: 85%;
    padding: 1rem .75rem;
    background: var(--bg-color-2);
    border-radius: 25px;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.nav-list{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-link 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    border-radius: 50% 15%;
}
.nav-link:hover{
    background: var(--body-color);
    box-shadow: var(--box-shadow);
}
.nav-link.active{
    background: var(--skin-color);
    box-shadow: var(--box-shadow);
}
.nav-link i{
    font-size: var(--font-size-nr);
    color: var(--white-color);
}

/*change background header*/

.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(228, 4%, 15% , .1);
}

/*-----nav----*/

/*-----Home----*/


.home-container{
    padding: 6rem 1.5rem 2rem;
}
.home-title{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.home-title h1{
    font-size: var(--h1-size);
    font-family: var(--bdy-font-family-alt2);
    font-weight: var(--font-medium);
    text-transform: uppercase;
}
.home-title h2{
    font-size: var(--h2-size); 
    text-transform: uppercase;
    font-weight: var(--font-bold);
    font-family: var(--bdy-font-family-alt4);
}
.home-title h3{
    font-size: var(--h3-size); 
    text-transform: capitalize;
    font-weight: var(--font-medium);
    color: var(--white-color-2);
    font-family: var(--bdy-font-family-alt2);
}

.hero{
    position: inherit;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.hero-images{
    position: absolute;
    align-items: center;
    justify-content: center;
}
.hero-img{
    background: url(/images/hero.png);
    width: 12.5rem;
    height: 13rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 8.5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    padding: .5rem;
    background-color: var(--body-color);
    z-index: 9;
    position: inherit;
}
.hero-icons.active {
    animation: rotate 5s  linear infinite;
}
@keyframes rotate{
    from{
    transform: rotate(0deg)
    }
    to{
    transform: rotate(360deg)
   }
}

.hero-icons{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    z-index: 1;
}
.circle>img{
    width: 2rem;
    height: 2rem;
}
.circle.active:nth-child(1){
    transform: translate(-40%, 230%);
    transition: .3s;
}
.circle.active:nth-child(2){
    transform: translate(140%, 150%);
    transition: .4s;
}
.circle.active:nth-child(3){
    transform: translate(220%, -30%);
    transition: .5s;
}
.circle.active:nth-child(4){
    transform: translate(160%, -220%);
    transition: .6s;
}
.circle.active:nth-child(5){
    transform: translate(-40%, -330%);
    transition: .7s;
}
.circle.active:nth-child(6){
    transform: translate(-255%, -225%);
    transition: .8s;
}
.circle.active:nth-child(7){
    transform: translate(-320%,-35%);
    transition: .9s;
}

.circle.active:nth-child(8){
    transform: translate(-245%, 145%);
    transition: 1s;
}
.scroll-container{
    position: relative;
    left: 92%;
    margin-top: -8.5rem;
}
.scroll-img{
    width: 1.75rem;
}

.social-links{
    width: 100%;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(4, max-content);
}
.social-links a{
    color: var(--white-color);
    font-size: var(--font-size-nr);
}
/*-----Home----*/


/*-----About----*/

.about-container{
    margin-top: 5rem;
    padding: 0 1rem;
    justify-content: center;
}
.about-content{
    padding: 4rem 0;
    grid-template-columns: 100%;
    gap: 2rem;
}
.about-info{
    display: grid;
    width: 90%;
    margin: auto;
    gap: 1.5rem;
    justify-content: center;
}
.content-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-img{
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
}
.about-description{
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--bdy-font-family-alt);
}
.about-card{
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    background: var(--body-color);
    padding: 1rem .5rem;
    max-width: 7rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.card:hover{
    box-shadow: none;
}
.card h3{
    font-size: var(--font-size-sm);
    margin: .5rem 0;
    text-transform: uppercase;
}
.card i{
    font-size: var(--font-size-nr);
    color: var(--skin-color2);
}
.card p{
    font-size: var(--font-size-smlr);
    font-weight: 500;
    font-family: var(--bdy-font-family-alt);
}


/*-----About----*/


/*-----skills----*/
.skills-container{
    margin-top: 5rem;
}
.skills-content{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    margin: auto;
}
.skills{
    background: var(--body-color);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}
.skills:hover{
    box-shadow: var(--box-shadow);
}
.skill-title{
    font-size: var(--h3-size);
    font-weight: 700;
    font-family: var(--bdy-font-family-alt);
    margin-bottom: .5rem;
    color: var(--skin-color2);
}
.skill-info{
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    align-items: center;
}
.skill-info p{
    display: flex;
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--bdy-font-family);
    color: var(--white-color);
    align-items: center;
    gap: .25rem;
}
.skill-info p i{
    font-size: var(--font-size-sm);
    color: var(--skin-color2);
}


.services-container{
    margin-top: 4rem;
    padding: 0 .5rem;
}
.sevices-content{
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
.services-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.services-img{
    width: 100%;
}


.services-accordion{
    gap: 1rem;
    margin: auto;
}
.services-accordion-item{
    background-color: var(--body-color);
    border: 2px solid var(--skin-color);
    border-radius: .5rem;
    padding:.75rem;
}
.services-accordion-header{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.services-accordion-icon{
    background-color: var(--skin-color);
    padding: 5px;
    border-radius: .25rem;
    font-size: 18px;
    color: var(--white-color-2);
    margin-right: .75rem;
    transition: .3s;
}
.services-accordion-title{
    font-size: var(--font-size-nr);
    font-weight: 700;
    font-family: var(--bdy-font-family);
}
.services-accordion-arrow{
    display: inline-flex;
    background: var(--skin-color);
    padding: .25rem;
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
}
.services-accordion-arrow i{
    transition: .4s;
}
.services-accordion-description{
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--white-color3);
    padding: 1.25rem .5rem 0;
    font-family: var(--bdy-font-family-alt);
}
.services-accordion-content{
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
}

/*accordion*/
.accordion-open{
    box-shadow: var(--box-shadow);
}

.accordion-open .services-accordion-icon{
    box-shadow: 0 4px 4px hsla(228, 4%, 15% , .1);
}
.accordion-open .services-accordion-arrow{
    box-shadow:  0 2px 4px hsla(228, 4%, 15% , .1)
}
.accordion-open .services-accordion-arrow i{
    transform: rotate(180deg);
}

/*accordion*/


/*-----skills----*/



/*-----Works----*/
.works-container{
    margin-top: 5rem;
}
.works-content{
    display: grid;
    padding: 1rem;
    width: 100%;
    margin: auto;
}
.works-nav{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    gap: .5rem;
}
.works-link{
    padding: .5rem;
    border-radius: .5rem;
    font-family: var(--bdy-font-family-alt5);
}
.works-link:hover{
    background:var(--skin-color);
    box-shadow: var(--box-shadow);
  }
.works-link.active{
  background:var(--skin-color2);
  box-shadow: var(--box-shadow);
}
.work-cards{
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.work-card{
    padding: .75rem;
    border-radius: .75rem;
    background: var(--bg-color-3);
}
.work-card:hover{
    box-shadow: var(--box-shadow);
}
.work-card-content{
    padding: 1rem;
    background: var(--body-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: .75rem;
    margin-bottom: .75rem;
    box-shadow: var(--box-shadow);
}
.card-img{
    width: 90%;
    margin: .5rem 0;
    border-radius: .5rem;
}
.card-title{
    color: var(--white-color3);
    font-size: var(--font-size-nr);
    font-family: var(--bdy-font-family-alt);
    margin: .5rem 0;
}
.card-description{
    font-size: var(--font-size-smlr);

}
.card-links{
    display: flex;
    justify-content: space-between;
}
.card-link{
    margin: 1rem 0;
    padding: .5rem;
    color: var(--white-color);
    background: var(--skin-color);
    border-radius: .5rem;
    font-family: var(--bdy-font-family-alt5);
    box-shadow: var(--box-shadow);
}
.card-link:hover{
    background: var(--skin-color2);
    box-shadow: none;
}


/*-----Works----*/



/*----review---*/
.testimonial{
    margin-top: 5rem;
    min-height: 100%;
}
.review-slider{
    width: 90%;
    margin: 3rem auto;
}
.review-slide{
    background-color: var(--body-color);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border: .25rem solid var(--skin-color);
    border-radius: .75rem;
}
.review-slide .fa-quote-right{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: var(--font-size-m);
    color:var(--white-color);
}
.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.user img{
    height: 4rem;
    width: 4rem;
    background: var(--skin-color);
    border-radius: 50%;
    object-fit: cover;
}
.user h3{
    color: var(--white-color-2);
    font-size: var(--h3-size);
    font-weight: var(--font-semibold);
    padding-bottom: .5rem;
    font-family: var(--bdy-font-family-alt2);
}
.user i{
    font-size: var(--font-size-nr);
    color: var(--skin-color4);
}
.review-slide p{
    font-size: var(--font-size-nr);
    font-weight: var(--font-medium);
    color: var(--white-color);
    line-height: 1.5;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
 }
 .swiper-button-next,
 .swiper-button-prev{
     width:initial;
     height: initial;
     background: var(--bg-color-3);
     border: 2px solid var(--skin-color);
     padding: 6px;
     border-radius: .5rem;
     font-size: 1.5rem;
     color: var(--white-color-2) !important; 
 }
 
 /*----review---*/



 /*----contact---*/
.contact-container{
    margin: 6rem 0 3rem;
 }
 .contact-content{
    margin: 3rem 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
 }
 .contact-left{
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
 }
 .contact-title{
    color: var(--white-color);
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--bdy-font-family-alt2);
    font-size: var(--h3-size);
 }
 .contact-logo{
    position: inherit;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 }
.contact-orb{
    position: absolute;
    align-items: center;
}
.contact-button{
    position: absolute;
    align-items: center;
}
.icon{
    cursor: pointer;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: var(--black-color);
    background: var(--circle-color);
    box-shadow: inset -2px -2px 5px rgb(160, 160, 160), inset 3px 3px 7px #ccc, inset 1px 2px 1px #111, inset 1px 2px 1px #000;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90px;
    margin-left: .25rem;
    height: 90px;
    font-size: var(--font-size-bg);
    border: 2px solid var(--circle-color);
    text-shadow: none;
   
    transition: box-shadow .3s;
    z-index: 9;
}
.social{
    position: absolute;
    opacity: 1;
    margin-left: 1rem;
}
.social .fa{
    display: grid;
    place-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: inherit;
    border: 2px solid var(--circle-color);
}
.social.active{
    margin-left:0;
}
.social.active:nth-child(1){
    transform: translate(140% , 180%);
    transition: .3s;
    color: #0549f7;
}
.social.active:nth-child(2){
    transform: translate(210%);
    transition: .4s;
    color: #000000;
}
.social.active:nth-child(3){
    transform: translate(-150%);
    transition: .7s;
    color: #2d05f7;
}
.social.active:nth-child(4){
    transform: translate(140% , -180%);
    transition: .5s;
    color: #f705c3;
}
.social.active:nth-child(6){
    transform: translate(-60% , 180%);
    transition: 00.8s;
    color: #14b50b;
}
.social.active:nth-child(5){
    transform: translate(-60% , -180%);
    transition: .6s;
    color: #10f74d;
}



 .form{
    width: 85%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    padding: .85rem;
    margin: 0 auto;
    background: var(--bg-color-2);
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.inputBox .input{
    width:100%;
}
.input span{
    display: block;
    padding: .5rem 0;
    font-size: var(--font-size-nr);
    font-weight: var(--font-semibold);
    color: var(--white-color-2);
}
.inputBox .input input,
.inputBox .input textarea{
    background: var(--skin-color);
    border-radius: .5rem;
    padding: .75rem;
    font-size: var(--font-size-nr);
    font-family: var(--bdy-font-family-alt2);
    color:var(--white-color);
    text-transform: none;
    margin-bottom: .75rem;
    width: 100%;
    border: none;
}

.inputBox .input input:focus,
.inputBox .input textarea:focus{
    box-shadow: var(--box-shadow);
    border: .1rem solid var(--skin-color);
}
.inputBox .input textarea{
    height: 12rem;
    resize: none;
}


 /*----contact---*/